@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Maragsa";
  src:
    url("/my-portfolio/fonts/maragsa.woff2") format("woff2"),
    url("/my-portfolio/fonts/maragsa.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes cardPopIn {
  0% {
    transform: translate(-50%, -10px) scale(0.96) rotate(-2deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -10px) scale(1) rotate(-2deg);
    opacity: 1;
  }
}

/* ===== Pretty Scrollbar ===== */
.pretty-scroll {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #d55555 transparent;
}

/* Chrome / Edge / Safari */
.pretty-scroll::-webkit-scrollbar {
  width: 8px;
}

.pretty-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.pretty-scroll::-webkit-scrollbar-thumb {
  background-color: #d55555;
  border-radius: 999px;
  border: 2px solid transparent; /* creates padding illusion */
  background-clip: content-box;
}

/* Remove arrows */
.pretty-scroll::-webkit-scrollbar-button {
  display: none;
}
