@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Maragsa';
  src: url('@/fonts/maragsa.woff2') format('woff2'),
       url('@/fonts/maragsa.woff') format('woff'),
       url('@/fonts/maragsa.otf') format('opentype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes cardPopIn {
  0% {
    transform: translate(-50%, -10px) scale(0.96) rotate(-2deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -10px) scale(1) rotate(-2deg);
    opacity: 1;
  }
}

